.vsms-field-container .mobile-number{width: 250px;}
.vsms-field-container .mobile-number.otp-validated{background: #E5EFE5; border-color: #006400;}
.sms-otp-error{color: #e02b27;}
.vsms-field-container div.mage-error{position: absolute;}
.modal-popup.otp-verify-modal .modal-inner-wrap{width: 600px;}
.modal-slide.otp-verify-modal .page-main-actions{margin-bottom: auto;}
.modal-slide.otp-verify-modal .modal-title{border-bottom: 1px solid #ccc; padding-bottom: 10px;}
.sms-otp-dialog{text-align: center;}
.sms-otp-mobile{font-weight: bold;}
.sms-otp-step-1,.sms-otp-step-2{display: none;}
.sms-otp-step-1.show,.sms-otp-step-2.show{display: block;}
#verify-otp-btn{clear: both; margin-top: 20px;}
#verify-otp-btn.verifying{background: #ddd; border: 1px solid #aaa; color: #999; cursor: auto;}
.resend-otp-btn{display: block; margin-top: 10px; width: 150px; margin: 0 auto;}
.resend-otp-btn.running{cursor: auto; color: #AAA;}
.resend-otp-btn.running:hover {text-decoration: none;}
.field .control input.otp-checkout-field{width: 85px;}
.field .control input.sms-mobile-number{width: 100%;}
.sms-address-mobile-container .intl-tel-input{width: 160px;}
.sms-resendbtn.disabled{color: #bbb; cursor: auto; text-decoration: none;}
.intl-tel-input{z-index: 10;}
.form-edit-mobile .actions-toolbar{clear: both;}

.sms-login-field-ctrl.selected{cursor: auto; color: #333; text-decoration: underline}
.vsms-field-container .intl-tel-input{z-index: 1!important;}


.rtl-layout .intl-tel-input input,
.rtl-layout .sms-otp-step-1 .sms-otp-mobile{direction: ltr;}
.rtl-layout .intl-tel-input .selected-flag .iti-arrow{left: 6px; right: auto;}
.rtl-layout .intl-tel-input .country-list .flag-box,
.rtl-layout .intl-tel-input .country-list .country-name{margin-right: 0; margin-left: 6px;}
.rtl-layout .intl-tel-input .selected-flag{padding: 0 8px 0 0;}
.login-container .block-customer-login{position: relative;}
.ves-loadingbox{display: none;}
.ves-loadingbox.show{display: block;}
.ves-overlay{width: 100%; height: 100%; position: absolute; top: 0; left: 0; background: #FFF;z-index: 15; opacity: 0.8;}
.ves-loadingbox .loading-img{position: absolute; top: 50%; left: 50%; background: url(../images/loading.svg) no-repeat center center/30px auto; width: 40px; height: 30px; z-index: 16;}
@media screen and (max-width: 767px) {
	.modal-popup.otp-verify-modal .modal-inner-wrap{width: 90%;}
}
