<?xml version="1.0" encoding="UTF-8" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
	<virtualType name="Applab\EventsPro\Model\ResourceModel\EventsProData\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">applab_eventspro</argument>
            <argument name="resourceModel" xsi:type="string">Applab\EventsPro\Model\ResourceModel\EventsProData</argument>
        </arguments>
    </virtualType>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="eventspro_listing_data_source" xsi:type="string">Applab\EventsPro\Model\ResourceModel\EventsProData\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
</config>