<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/Module/etc/module.xsd">
    <module name="Applab_EventsPro" setup_version="1.0.0">
    	<module name="Magento_GraphQl"/>
        <module name="Magento_Backend"/>
    </module>
</config>