<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="vsms">
            <group id="settings">
            	<group id="sms_gateway">
	            	<field id="ooredoo_user" translate="label tooltip" type="text" sortOrder="120" showInDefault="1" showInWebsite="1" showInStore="0">
	                    <label>Ooredoo.qa User Name</label>
	                    <config_path>vsms/settings/ooredoo_user</config_path>
	                    <frontend_class>required-entry</frontend_class>
	                    <depends>
	                        <field id="gateway">ooredoo</field>
	                    </depends>
	                </field>
	                
	                <field id="ooredoo_password" translate="label tooltip" type="password" sortOrder="121" showInDefault="1" showInWebsite="1" showInStore="0">
	                    <label>Ooredoo.qa Password</label>
	                    <config_path>vsms/settings/ooredoo_password</config_path>
	                    <frontend_class>required-entry</frontend_class>
	                    <depends>
	                        <field id="gateway">ooredoo</field>
	                    </depends>
	                </field>
	                
	                <field id="ooredoo_customer_id" translate="label tooltip" type="text" sortOrder="122" showInDefault="1" showInWebsite="1" showInStore="0">
	                    <label>Ooredoo.qa Customer Id</label>
	                    <config_path>vsms/settings/ooredoo_customer_id</config_path>
	                    <frontend_class>required-entry</frontend_class>
	                    <depends>
	                        <field id="gateway">ooredoo</field>
	                    </depends>
	                </field>
	                
	                <field id="ooredoo_sender" translate="label tooltip" type="text" sortOrder="123" showInDefault="1" showInWebsite="1" showInStore="0">
	                    <label>Originator</label>
	                    <config_path>vsms/settings/ooredoo_sender</config_path>
	                    <frontend_class>required-entry</frontend_class>
	                    <depends>
	                        <field id="gateway">ooredoo</field>
	                    </depends>
	                </field>
	                <field id="ooredoo_message_type" translate="label tooltip" type="select" sortOrder="124" showInDefault="1" showInWebsite="1" showInStore="0">
	                    <label>Message Type</label>
	                    <config_path>vsms/settings/ooredoo_message_type</config_path>
	                    <source_model>Vnecoms\SmsOoredoo\Model\Config\Source\MessageType</source_model>
	                    <depends>
	                        <field id="gateway">ooredoo</field>
	                    </depends>
	                </field>
                </group>
            </group>
        </section>
    </system>
</config>
