<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
	<event name="controller_action_predispatch_sales_order_addComment">
		<observer name="vnecoms_sms_notify_order_comment" instance="Vnecoms\Sms\Observer\NotifyOrderCommentBefore" />
	</event>
	<event name="sales_order_status_history_save_before">
		<observer name="vnecoms_sms_order_status_history_save_before" instance="Vnecoms\Sms\Observer\OrderStatusHistorySaveBefore" />
	</event>
	
</config>
