<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
   <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="vsms_grid_data_source" xsi:type="string">Vnecoms\Sms\Model\ResourceModel\Sms\Grid\Collection</item>
                <item name="vsms_blocllist_grid_data_source" xsi:type="string">Vnecoms\Sms\Model\ResourceModel\Rule\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
   <type name="Vnecoms\Sms\Helper\Data">
        <arguments>
            <argument name="otpParameters" xsi:type="array">
                <item name="charset" xsi:type="array">
                    <item name="alphanum" xsi:type="string">ABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789</item>
                    <item name="alpha" xsi:type="string">ABCDEFGHIJKLMNOPQRSTUVWXYZ</item>
                    <item name="num" xsi:type="string">0123456789</item>
                </item>
            </argument>
        </arguments>
    </type>
    
    <type name="Magento\Customer\Model\ResourceModel\CustomerRepository">
        <plugin name="vnecoms_sms_mobile_login" type="Vnecoms\Sms\Model\ResourceModel\CustomerRepository"/>
    </type>
    <type name="Magento\Checkout\Api\GuestPaymentInformationManagementInterface">
        <plugin name="vnecoms_sms_otp_verify" type="Vnecoms\Sms\Plugin\Checkout\GuestPlaceOrder"/>
    </type>
    <type name="Magento\Checkout\Api\PaymentInformationManagementInterface">
        <plugin name="vnecoms_sms_otp_verify" type="Vnecoms\Sms\Plugin\Checkout\PlaceOrder"/>
    </type>
</config>
