<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
	<event name="controller_action_predispatch_customer_account_createpost">
		<observer name="vnecoms_sms_create_post_before" instance="Vnecoms\Sms\Observer\CustomerCreate" />
	</event>
	<event name="customer_register_success">
		<observer name="vnecoms_sms_customer_register_success" instance="Vnecoms\Sms\Observer\CustomerRegister" />
	</event>
	
	<event name="checkout_submit_all_after">
		<observer name="vnecoms_sms_checkout_submit_all_after" instance="Vnecoms\Sms\Observer\NewOrder" />
	</event>
	<event name="sales_order_save_before">
		<observer name="vnecoms_sms_order_save_before" instance="Vnecoms\Sms\Observer\OrderStatusChange" />
	</event>
	<event name="sales_order_invoice_save_after">
		<observer name="vnecoms_sms_invoice_save_after" instance="Vnecoms\Sms\Observer\NewInvoice" />
	</event>
	<event name="sales_order_shipment_save_after">
		<observer name="vnecoms_sms_shipment_save_after" instance="Vnecoms\Sms\Observer\NewShipment" />
	</event>
	<event name="sales_order_creditmemo_save_after">
		<observer name="vnecoms_sms_creditmemo_save_after" instance="Vnecoms\Sms\Observer\NewCreditmemo" />
	</event>
	
	<event name="controller_action_predispatch_customer_account_loginPost">
		<observer name="vnecoms_sms_customer_login_post" instance="Vnecoms\Sms\Observer\LoginPost" />
	</event>
    <event name="controller_action_predispatch_vsms_account_loginPost">
        <observer name="vnecoms_sms_customer_login_post" instance="Vnecoms\Sms\Observer\LoginPost" />
    </event>
	<event name="controller_action_predispatch_customer_ajax_login">
		<observer name="vnecoms_sms_customer_login_post" instance="Vnecoms\Sms\Observer\LoginAjax" />
	</event>
	
	<event name="controller_action_predispatch_marketplace_seller_loginPost">
		<observer name="vnecoms_sms_vendor_login_post" instance="Vnecoms\Sms\Observer\VendorLoginPost" />
	</event>

	<event name="controller_action_predispatch_contact_index_post">
		<observer name="vnecoms_sms_send_contact_success" instance="Vnecoms\Sms\Observer\ContactMessagePost" />
	</event>

	<event name="review_save_before">
		<observer name="vnecoms_sms_send_review_success" instance="Vnecoms\Sms\Observer\ReviewMessageSaveBefore" />
	</event>
</config>
